h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-style: italic;
    font-size: 50px;
  }
  
  h4 {
   
    margin-bottom: 0;
    font-style: bold;
  }
  
  ul,
  ol {
    margin-top: 0;
  }
  
  .copyright {
  
    font-size: 9px;
    font-style: italic;
  }

  .dsfjladsf {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
  }

  body {
    font-family: 'Lexend Deca', sans-serif;
  }

  .weirdhighlight {
    background-color: #fb923c;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
  }