h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-style: italic;
    font-size: 30px;
  }
  
  h4 {
   
    margin-bottom: 0;
    font-style: bold;
  }
  
  ul,
  ol {
    margin-top: 0;
  }
  
  .copyright {
  
    font-size: 9px;
    font-style: italic;
  }

  .dsfjladsf {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
  }

  body {
    font-family: 'Lexend Deca', sans-serif;
  }

  .weirdhighlight {
    background-color: #fb923c;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
  }

  #table1 {

  }

  
  .hdsk {
    width: 95%;
  }

  @media only screen and (min-width: 768px) {

h1 {
  font-size: 50px;
}

    #table1 {
      display: flex; 
      flex-direction: row;
      flex: 1;
      justify-content: space-between; 
      margin-left: 10px;
      margin-right: 10px;
    }
   .sdfjhdsfkjsf {
      padding-left: 10px;
      padding-right: 10px;
      flex: 1;
     
   }
  }

  .bruhvideo {
    /*horizontal center div*/

    
    margin:0 auto;
  }